steps to follow in web_scraping
---> 1. First we will use request module to connect to web page
---> 2. Using BeautifulSoup we try to get relevant fields(information)
---> 3. Analyzing/parsing the html content in list/dict
---> 4. finally storing the data in (.csv,.xl,.json)

In [3]:
!pip install requests

Collecting requests
  Downloading requests-2.31.0-py3-none-any.whl.metadata (4.6 kB)
Collecting charset-normalizer<4,>=2 (from requests)
  Downloading charset_normalizer-3.3.2-cp310-cp310-win_amd64.whl.metadata (34 kB)
Collecting idna<4,>=2.5 (from requests)
  Downloading idna-3.6-py3-none-any.whl.metadata (9.9 kB)
Collecting urllib3<3,>=1.21.1 (from requests)
  Downloading urllib3-2.1.0-py3-none-any.whl.metadata (6.4 kB)
Collecting certifi>=2017.4.17 (from requests)
  Downloading certifi-2023.11.17-py3-none-any.whl.metadata (2.2 kB)
Downloading requests-2.31.0-py3-none-any.whl (62 kB)
   ---------------------------------------- 62.6/62.6 kB 3.5 MB/s eta 0:00:00
Downloading certifi-2023.11.17-py3-none-any.whl (162 kB)
   -------------------------------------- 162.5/162.5 kB 609.2 kB/s eta 0:00:00
Downloading charset_normalizer-3.3.2-cp310-cp310-win_amd64.whl (100 kB)
   -------------------------------------- 100.3/100.3 kB 720.8 kB/s eta 0:00:00
Downloading idna-3.6-py3-none-any.whl (61 kB)
   ---------------------------------------- 61.6/61.6 kB 366.6 kB/s eta 0:00:00
Downloading urllib3-2.1.0-py3-none-any.whl (104 kB)
   -------------------------------------- 104.6/104.6 kB 430.8 kB/s eta 0:00:00
Installing collected packages: urllib3, idna, charset-normalizer, certifi, requests
Successfully installed certifi-2023.11.17 charset-normalizer-3.3.2 idna-3.6 requests-2.31.0 urllib3-2.1.0

[notice] A new release of pip is available: 23.3.1 -> 23.3.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [1]:
!pip install beautifulSoup4

Collecting beautifulSoup4
  Using cached beautifulsoup4-4.12.2-py3-none-any.whl (142 kB)
Collecting soupsieve>1.2 (from beautifulSoup4)
  Downloading soupsieve-2.5-py3-none-any.whl.metadata (4.7 kB)
Downloading soupsieve-2.5-py3-none-any.whl (36 kB)
Installing collected packages: soupsieve, beautifulSoup4
Successfully installed beautifulSoup4-4.12.2 soupsieve-2.5

[notice] A new release of pip is available: 23.3.1 -> 23.3.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
!pip install bs4

Collecting bs4
  Using cached bs4-0.0.1.tar.gz (1.1 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Requirement already satisfied: beautifulsoup4 in c:\users\harsh\onedrive\desktop\codeg\codegnan\lib\site-packages (from bs4) (4.12.2)
Requirement already satisfied: soupsieve>1.2 in c:\users\harsh\onedrive\desktop\codeg\codegnan\lib\site-packages (from beautifulsoup4->bs4) (2.5)
Building wheels for collected packages: bs4
  Building wheel for bs4 (setup.py): started
  Building wheel for bs4 (setup.py): finished with status 'done'
  Created wheel for bs4: filename=bs4-0.0.1-py3-none-any.whl size=1262 sha256=b20c66a47c4c5a8e3bb2b6de2a16356e72354ea0b074020ca3b254e9a2aa9e23
  Stored in directory: c:\users\harsh\appdata\local\pip\cache\wheels\25\42\45\b773edc52acb16cd2db4cf1a0b47117e2f69bb4eb300ed0e70
Successfully built bs4
Installing collected packages: bs4
Successfully installed bs4-0.0.1

[notice] A new release of pip is available: 23.3.1 -> 23.3.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [3]:
import requests
import bs4

In [4]:
#help(requests)

In [5]:
#help(bs4)

In [6]:
# lets get desired url of the website we want to scrape
url = "https://www.makaan.com/vijayawada-residential-property/buy-property-in-vijayawada-city"
data = requests.get(url)
data

In [7]:
#data.text

In [8]:
type(data.text)

str

In [9]:
from bs4 import BeautifulSoup

In [10]:
soup = BeautifulSoup(data.text,'html')
soup
type(soup)

bs4.BeautifulSoup

In [11]:
# desired listings --->property name,area,price,price_saft,status,builder and so on..........
soup.find('div',attrs={'class':'title-line'}).text

'Residential Plot in Himaja Elite Vistas'

In [12]:
soup.find('span',attrs={'itemprop':'addressLocality'}).text

'Kesarapalli'

In [13]:
# find area,price,total_price_per_saft,construction_status
soup.find('div',attrs={'data-type':'price-link'}).text

' 2.52 Cr'

In [14]:
soup.find('td',attrs={'class':'lbl rate'}).text

'3,500 / sq ft'

In [15]:
soup.find('td',attrs={'class':'size'}).text

'7200 '

In [16]:
soup.find('td',attrs={'class':'val'}).text

'New'

In [17]:
soup.find('ul',attrs={'class':'listing-details'}).text

'1 - 2 years old'

In [18]:
soup.find('div',attrs={'class':'second-line'}).text

'BUILDER'

In [19]:
soup.find('span',attrs={'itemprop':'name'}).text

'home'

In [20]:
soup.find('a',attrs={'class':'seller-name'}).text

'Himaja Constructions P Ltd'

In [21]:
# now lets extract multiple entries from the web page
# we use find_all() to get multiple listings 
d = soup.find_all('span',attrs={'itemprop':'addressLocality'})
# create a new list to store of names
names = []
for i in d:
    names.append(i.text)
print(names)
print(len(names))

['Kesarapalli', 'Kesarapalli', 'Gannavaram', 'Poranki', 'Kankipadu', 'Poranki', 'Kankipadu', 'Poranki', 'Gannavaram', 'Gunadala', 'Gollapudi', 'Enikepadu', 'Benz Circle', 'Vidhyadharpuram', 'Penamaluru', 'Kankipadu', 'Poranki', 'Kankipadu', 'Benz Circle', 'Gannavaram']
20

In [22]:
# same above can be written in list compression
d = soup.find_all('span',attrs={'itemprop':'addressLocality'})
# every list compression can be written as for loop whereas vice versa is 
location = [i.text for i in d]
print(location)
print(len(location))

['Kesarapalli', 'Kesarapalli', 'Gannavaram', 'Poranki', 'Kankipadu', 'Poranki', 'Kankipadu', 'Poranki', 'Gannavaram', 'Gunadala', 'Gollapudi', 'Enikepadu', 'Benz Circle', 'Vidhyadharpuram', 'Penamaluru', 'Kankipadu', 'Poranki', 'Kankipadu', 'Benz Circle', 'Gannavaram']
20

In [23]:
# in the similar way we will extract area,price,price_saft and so on .....
e = soup.find_all('td',attrs={'class':'size'})
area = [i.text.strip() for i in e]
print(area)
print(len(area))

['7200', '1944', '1266', '1587', '1560', '1450', '1290', '1200', '1663', '1500', '2062', '1250', '1350', '1600', '3700', '1782', '1800', '1500', '2317', '1650']
20

In [25]:
# Extract price and modify it
f = soup.find_all('div',attrs={'data-type':'price-link'})
p = [i.text.strip() for i in f]
print(p)

['2.52 Cr', '68.04 L', '45.57 L', '55.5 L', '15.5 L', '48 L', '50 L', '40 L', '59.86 L', '56 L', '89 L', '39 L', '59 L', '95 L', '1.1 Cr', '16.83 L', '33 L', '20 L', '1.66 Cr', '72 L']

In [26]:
# we will modify cr and convert all into one scale
prices = []
f = soup.find_all('div',attrs={'data-type':'price-link'})
for i in f:
    i = i.text.strip()
    if 'Cr' in i:
        i = i.replace(" Cr",'')
        i = float(i)*100
        
    else:
        i = i.replace(" L",'')
        i = float(i)
    prices.append(i)
print(prices)

[252.0, 68.04, 45.57, 55.5, 15.5, 48.0, 50.0, 40.0, 59.86, 56.0, 89.0, 39.0, 59.0, 95.0, 110.00000000000001, 16.83, 33.0, 20.0, 166.0, 72.0]

In [27]:
g = soup.find_all('td',attrs={'class':'lbl rate'})
h = [i.text for i in g]
print(h)
print(len(h))

['3,500 / sq ft', '3,500 / sq ft', '3,600 / sq ft', '3,497 / sq ft', '993 / sq ft', '3,310 / sq ft', '3,875 / sq ft', '3,333 / sq ft', '3,600 / sq ft', '3,733 / sq ft', '4,316 / sq ft', '3,120 / sq ft', '4,370 / sq ft', '5,937 / sq ft', '2,972 / sq ft', '944 / sq ft', '1,833 / sq ft', '1,333 / sq ft', '7,200 / sq ft', '4,363 / sq ft']
20

In [28]:
j = soup.find_all('td',attrs={'class':'val'})
k = [i.text for i in j]
print(k)
print(len(k))

['New', 'New', 'Ready to move', 'Ready to move', 'Resale', 'Ready to move', 'Under Construction', 'Ready to move', 'Ready to move', 'Ready to move', 'Ready to move', 'Ready to move', 'Ready to move', 'Under Construction', 'Ready to move', 'Resale', 'Resale', 'Resale', 'Under Construction', 'Ready to move']
20

In [29]:
# we will modify listing details & create new entries

In [30]:
# try to perform web scraping from multiple pages -----> task saketh@codegnan.com

-----------------------> DAY 4 -------------------------------------------------
### Lets go for rmng listings Property_Type ,bedrooms list

In [43]:
# we will create list of all property types as below
Property_Types = ['Apartment','Villa','Builder Folder','Residential Plot','Independent House','Independent Floor','Studio Apartment']
# now we will check for the type in above given list 
h = soup.find_all('div',attrs= {'class':'title-line'})
p_types = []
for i in h:
    i = i.text
    print(i)
    for j in Property_Types:
        if j in i:
            p_types .append(j)
print(p_types)
print(len(p_types))

Residential Plot in Himaja Elite Vistas
Residential Plot in Himaja Elite Vistas
2 BHK Apartment in Himaja Sri Hemadurga Jewel County
3 BHK Apartment
Residential Plot
2 BHK Apartment
2 BHK Independent House
2 BHK Apartment in Hycon Elite
3 BHK Apartment
3 BHK Independent Floor
3 BHK Apartment
2 BHK Apartment
2 BHK Independent House
3 BHK Independent Floor
6 BHK Independent House
Residential Plot in Harivillu Fortune Legendary
Residential Plot
Residential Plot
3 BHK Apartment in Pooja Tree Storey
3 BHK Apartment in Sri Naga Sun Rise Enclave
['Residential Plot', 'Residential Plot', 'Apartment', 'Apartment', 'Residential Plot', 'Apartment', 'Independent House', 'Apartment', 'Apartment', 'Independent Floor', 'Apartment', 'Apartment', 'Independent House', 'Independent Floor', 'Independent House', 'Residential Plot', 'Residential Plot', 'Residential Plot', 'Apartment', 'Apartment']
20

In [32]:
# checking for no of BHK and replacing Residential plot with any value such as 0
g = soup.find_all('div',attrs={'class':'title-line'})
Rooms = []
for i in g:
    i = i.span.text
    i = i.replace("Residential Plot","0").replace(" ",'')
    #print(i)
    Rooms.append(i)
print(Rooms)
print(len(Rooms))

['0', '0', '2', '3', '0', '2', '2', '2', '3', '3', '3', '2', '2', '3', '6', '0', '0', '0', '3', '3']
20

In [33]:
j = soup.find_all('ul',attrs={'class':'listing-details'})
k = [i.text for i in j]
print(k)
print(len(k))

['1 - 2 years old', '1 - 2 years old', '3 - 4 years old2 BathroomsNew ', '3 BathroomsResale West facing', '7 - 8 years old2 open sidesEast facing', '2 BathroomsResale ', '2 BathroomsResale NorthEast facing', '2 BathroomsResale ', '3 BathroomsResale East facing', '3 BathroomsResale ', '3 BathroomsResale ', '2 BathroomsResale ', '2 BathroomsResale East facing', '3 BathroomsResale West facing', '7 - 8 years old7 BathroomsResale ', '1 - 2 years old', '1 open sidesWest facing', '7 - 8 years old', '3 BathroomsNew East facing', '2 - 3 years old3 BathroomsNew ']
20

In [34]:
# now based on above output we need to map a logic in such a way that it will understand the pattern ---->Regular expression(re)
import re # pattern matching

In [35]:
h = soup.find_all('ul',attrs={'class':'listing-details'})
Bathrooms = []
Facing = []
# we will use regex for facing and lsiting of bathrooms
for i in h:
    i = i.text
    #print(i.text)
    b_count = re.findall(r'(\d+) Bathrooms',i) # \d -->digit
    #print(b_count)
    if b_count:
        Bathrooms.append(int(b_count[0]))
    else:
        Bathrooms.append(0)
    facing_directions = re.findall(r'(North|South|East|West|NorthEast|NorthWest|SouthEast|SouthWest) facing',i)
    if facing_directions:
        Facing.append(facing_directions[0])
    else:
        Facing.append('None')
print(Facing)
#print(len(Facing))
print(Bathrooms)
#print(len(Bathrooms))

['None', 'None', 'None', 'West', 'East', 'None', 'NorthEast', 'None', 'East', 'None', 'None', 'None', 'East', 'West', 'None', 'None', 'West', 'None', 'East', 'None']
[0, 0, 2, 3, 0, 2, 2, 2, 3, 3, 3, 2, 2, 3, 7, 0, 0, 0, 3, 3]

## Extraction from multiple pages

In [36]:
base_url = "https://www.makaan.com/vijayawada-residential-property/buy-property-in-vijayawada-city?page="
for i in range(1,21):
    url = base_url+str(i)
    print(url)

https://www.makaan.com/vijayawada-residential-property/buy-property-in-vijayawada-city?page=1
https://www.makaan.com/vijayawada-residential-property/buy-property-in-vijayawada-city?page=2
https://www.makaan.com/vijayawada-residential-property/buy-property-in-vijayawada-city?page=3
https://www.makaan.com/vijayawada-residential-property/buy-property-in-vijayawada-city?page=4
https://www.makaan.com/vijayawada-residential-property/buy-property-in-vijayawada-city?page=5
https://www.makaan.com/vijayawada-residential-property/buy-property-in-vijayawada-city?page=6
https://www.makaan.com/vijayawada-residential-property/buy-property-in-vijayawada-city?page=7
https://www.makaan.com/vijayawada-residential-property/buy-property-in-vijayawada-city?page=8
https://www.makaan.com/vijayawada-residential-property/buy-property-in-vijayawada-city?page=9
https://www.makaan.com/vijayawada-residential-property/buy-property-in-vijayawada-city?page=10
https://www.makaan.com/vijayawada-residential-property/buy-property-in-vijayawada-city?page=11
https://www.makaan.com/vijayawada-residential-property/buy-property-in-vijayawada-city?page=12
https://www.makaan.com/vijayawada-residential-property/buy-property-in-vijayawada-city?page=13
https://www.makaan.com/vijayawada-residential-property/buy-property-in-vijayawada-city?page=14
https://www.makaan.com/vijayawada-residential-property/buy-property-in-vijayawada-city?page=15
https://www.makaan.com/vijayawada-residential-property/buy-property-in-vijayawada-city?page=16
https://www.makaan.com/vijayawada-residential-property/buy-property-in-vijayawada-city?page=17
https://www.makaan.com/vijayawada-residential-property/buy-property-in-vijayawada-city?page=18
https://www.makaan.com/vijayawada-residential-property/buy-property-in-vijayawada-city?page=19
https://www.makaan.com/vijayawada-residential-property/buy-property-in-vijayawada-city?page=20

### Multiple Pages Data Extraction

In [37]:
# we need to extract content from every page and store the data but if content from one page is extracted (output to be cleared) ---->clear_output
from IPython.display import clear_output
import time
# create lists to store data
Locations = [];Area = [];Status = [];Price = []
Rooms = [];Bathrooms = [];Facing = [];Type = []
# we will follow same thing as above for single one but for multiple pages

In [38]:
# we will use base url and start extracting listings
Property_Types = ['Apartment','Villa','Builder Floor',
                  'Residential Plot','Independent House','Independent Floor','Studio Apartment']
#base_url = "https://www.makaan.com/vijayawada-residential-property/buy-property-in-vijayawada-city?page="
for i in range(1,54):
    url = "https://www.makaan.com/vijayawada-residential-property/buy-property-in-vijayawada-city?propertyType=apartment,builder-floor,villa,residential-plot,independent-house,studio-apartment&page"
    print(f'Scraping Info from page --->{i}')
    clear_output(wait=True)
    time.sleep(1)
    # now we will make connection with each url and extract contents
    d = requests.get(url)
    soup = BeautifulSoup(d.text,'html')
    # now we will go for each listings
    #-------> Locations data
    a = soup.find_all('span',attrs={'itemprop':'addressLocality'})
    for i in a:
        Locations.append(i.text)
    # ----> Rooms data
    b = soup.find_all('div',attrs= {'class':'title-line'})
    for i in g:
        i = i.span.text
        i = i.replace("Residential Plot","0").replace(" ",'')
        #print(i)
        Rooms.append(i)
    # ---> bathrooms and facing data
    h = soup.find_all('ul',attrs={'class':'listing-details'})
    # we will use regex for facing and lsiting of bathrooms
    for i in h:
        i = i.text
        #print(i.text)
        b_count = re.findall(r'(\d+) Bathrooms',i) # \d -->digit
        #print(b_count)
        if b_count:
            Bathrooms.append(int(b_count[0]))
        else:
            Bathrooms.append(0)
        facing_directions = re.findall(r'(North|South|East|West|NorthEast|NorthWest|SouthEast|SouthWest) facing',i)
        if facing_directions:
            Facing.append(facing_directions[0])
        else:
            Facing.append('None')
    # -----> Prices data
    f = soup.find_all('div',attrs={'data-type':'price-link'})
    for i in f:
        i = i.text.strip()
        if 'Cr' in i:
            i = i.replace(" Cr",'')
            i = float(i)*100
            
        else:
            i = i.replace(" L",'')
            i = float(i)
        Price.append(i)
    # ----> Areas data
    e = soup.find_all('td',attrs={'class':'size'})
    for i in e:
        Area.append(i.text.strip())
    # -----> status data
    j = soup.find_all('td',attrs={'class':'val'})
    for i in j:
        Status.append(i.text)
    # ---> Type data
    h = soup.find_all('div',attrs= {'class':'title-line'})
    for i in h:
        i = i.text
        for j in Property_Types:
            if j in i:
                Type.append(j)

Scraping Info from page --->53

In [40]:
print(len(Locations))
print(len(Area))
print(len(Bathrooms))
print(len(Rooms))
print(len(Status))
print(len(Type))
print(len(Facing))
print(len(Price))

1060
1060
1060
1060
1060
1060
1060
1060

In [50]:
import pandas as pd
data={'Place':Locations,'Area':Area,'Status':Status,'Rooms':Rooms,'Bathrooms':Bathrooms,'Facing':Facing,'p_Type':Type,'Price':Price}
df=pd.DataFrame(data)
df

,Place,Area,Status,Rooms,Bathrooms,Facing,p_Type,Price
0,Kesarapalli,7200,New,0,0,None,Residential Plot,252.00
1,Kesarapalli,1944,New,0,0,None,Residential Plot,68.04
2,Gannavaram,1266,Ready to move,2,2,None,Apartment,45.57
3,Poranki,1587,Ready to move,3,3,West,Apartment,55.50
4,Kankipadu,1560,Resale,0,0,East,Residential Plot,15.50
...,...,...,...,...,...,...,...,...
1055,Kankipadu,1782,Resale,0,0,None,Residential Plot,16.83
1056,Poranki,1800,Resale,0,0,West,Residential Plot,33.00
1057,Kankipadu,1500,Resale,0,0,None,Residential Plot,20.00
1058,Benz Circle,2317,Under Construction,3,3,East,Apartment,166.00
1059,Gannavaram,1650,Ready to move,3,3,None,Apartment,72.00

In [51]:
df.isnull().sum()

Place        0
Area         0
Status       0
Rooms        0
Bathrooms    0
Facing       0
p_Type       0
Price        0
dtype: int64

In [54]:
#create a csv file
df.to_csv('vijayawada.csv')
df

,Place,Area,Status,Rooms,Bathrooms,Facing,p_Type,Price
0,Kesarapalli,7200,New,0,0,None,Residential Plot,252.00
1,Kesarapalli,1944,New,0,0,None,Residential Plot,68.04
2,Gannavaram,1266,Ready to move,2,2,None,Apartment,45.57
3,Poranki,1587,Ready to move,3,3,West,Apartment,55.50
4,Kankipadu,1560,Resale,0,0,East,Residential Plot,15.50
...,...,...,...,...,...,...,...,...
1055,Kankipadu,1782,Resale,0,0,None,Residential Plot,16.83
1056,Poranki,1800,Resale,0,0,West,Residential Plot,33.00
1057,Kankipadu,1500,Resale,0,0,None,Residential Plot,20.00
1058,Benz Circle,2317,Under Construction,3,3,East,Apartment,166.00
1059,Gannavaram,1650,Ready to move,3,3,None,Apartment,72.00

# end of web scraping

1:57pm
29-12-2023
fri